angular/angular2-quick-start/node_modules/
angular/angular2-quick-start/typescript-build/
angular/angular2-quick-start/typings/

angular/angular2-weather/node_modules/
angular/angular2-weather/typescript-build/
angular/angular2-weather/typings/

react/github-user-search/node_modules/
react/github-user-search/build/

react/account-mark/node_modules/
react/account-mark/build/
